#env
.env
.env.*
!.env.example

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.apk

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.vite
.tmp_uploads/
server/private/

# Android local build artifacts
android/local.properties
android/app/*.keystore
android/app/build/
android/.gradle/
android/build/
commandlinetools-win-latest.zip
android-sdk-tools-temp/
